#action-reimbursement {
    padding-left: 30px;
    background-color: brown;
    border-color: brown;
    width: 30%;
}

#action-reimbursement:hover {
    padding: 10px;
    background-color: rgb(247, 118, 118);
    border-color: rgb(247, 118, 118);
    
}

#action-reimbursement:focus {
    outline: grey;
    box-shadow: none;
  }

h1 {
  text-align: center;
  padding: 30px;
}

#buttons {
  display: flex;
  justify-content: space-around;
}