#action-reimbursement {
    background-color: brown;
    border-color: brown;
}

#action-reimbursement:hover {
    background-color: rgb(247, 118, 118);
    border-color: rgb(247, 118, 118);
    
}

#action-reimbursement:focus {
    outline: grey;
    box-shadow: none;
  }

h3 {
    padding-top: 50px;
    text-align: center;
}

h1 {
  text-align: center;
  padding: 30px;
}


#buttons {
  display: flex;
  justify-content: space-around;
}
